services:
  portal:
    image: mariadb:12.1.2
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: portal
    volumes:
      - ./db/portal-schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-ppassword"]
      interval: 5s
      timeout: 5s
      retries: 12

  oidc:
    image: mariadb:12.1.2
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: oidc
    volumes:
      - ./db/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-ppassword"]
      interval: 5s
      timeout: 5s
      retries: 12
