version: "3"

services:
  portal:
    image: mariadb:10.11.4
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: portal
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    volumes:
      - "./_dev/init.sql:/docker-entrypoint-initdb.d/init.sql"
    expose:
      - "3306"
    ports:
      - "3306:3306"
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root -p$$MYSQL_ROOT_PASSWORD
      interval: 1s
      timeout: 10s
      retries: 60
  oidc:
    image: mariadb:10.11.4
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: oidc
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    expose:
      - "3307"
    ports:
      - "3307:3306"
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root -p$$MYSQL_ROOT_PASSWORD
      interval: 1s
      timeout: 10s
      retries: 60

  adminer:
    image: adminer:standalone
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: portal
      ADMINER_DESIGN: pepa-linha
    ports:
      - "3001:8080"
