services:
  portal:
    image: mariadb:12.1.2
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: portal
    volumes:
      - ./_dev/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-ppassword"]
      interval: 5s
      timeout: 5s
      retries: 12

  oidc:
    image: mariadb:12.1.2
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: oidc
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-ppassword"]
      interval: 5s
      timeout: 5s
      retries: 12
