services:
  portal:
    image: mariadb:11.8.5
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: portal
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    volumes:
      - "./db/portal-schema.sql:/docker-entrypoint-initdb.d/schema.sql"
    ports:
      - "3306:3306"
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root -p$$MYSQL_ROOT_PASSWORD
      interval: 1s
      timeout: 10s
      retries: 60
  oidc:
    image: mariadb:11.8.5
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: oidc
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    volumes:
      - "./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql"
    ports:
      - "3307:3306"
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root -p$$MYSQL_ROOT_PASSWORD
      interval: 1s
      timeout: 10s
      retries: 60
