services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod
    ports:
      - "8080:8080"
    environment:
      - CONFIG_FILE=/app/config.yaml
    depends_on:
      portal:
        condition: service_healthy
      oidc:
        condition: service_healthy

  portal:
    image: mariadb:10.11.4
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: portal
    volumes:
      - ./db/portal-schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-ppassword"]
      interval: 5s
      timeout: 5s
      retries: 12

  oidc:
    image: mariadb:10.11.4
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: oidc
    volumes:
      - ./db/schema.sql:/docker-entrypoint-initdb.d/01-schema.sql:ro
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "127.0.0.1", "-ppassword"]
      interval: 5s
      timeout: 5s
      retries: 12

  adminer:
    image: adminer:standalone
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: portal
      ADMINER_DESIGN: pepa-linha
    ports:
      - "3001:8080"

volumes:
  go-mod-cache:
