openapi: 3.0.0
info:
  title: Portal OIDC
  version: "3.0"
  description: OIDCクライアント管理周りのAPI
  license:
    name: MIT
    url: "https://github.com/traPtitech/portal-oidc/blob/master/LICENSE"
  contact:
    name: traP
    url: "https://github.com/traPtitech/portal-oidc"
servers:
  - url: "http://localhost:8080"
    description: local

tags:
  - name: client
    description: OIDCクライアント管理

paths:
  "/v1/clients":
    post:
      summary: OIDCクライアントを作成
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
        "400":
          description: Bad Request
      description: OIDCクライアントを作成します
      operationId: CreateOIDCClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
        description: ""
      tags:
        - client
    get:
      summary: OIDCクライアントを取得
      description: OIDCクライアントを取得します
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Client"
        "400":
          description: Bad Request
      operationId: ListOIDCClients
      tags:
        - client
  "/v1/clients/{clientId}":
    put:
      summary: OIDCクライアントを更新
      description: OIDCクライアントを更新します
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
        "400":
          description: Bad Request
      operationId: UpdateOIDCClient
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequest"
        description: ""
      tags:
        - client
    delete:
      summary: OIDCクライアントを削除
      description: OIDCクライアントを削除します
      responses:
        "204":
          description: No Content
      operationId: DeleteOIDCClient
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      tags:
        - client
  "/v1/clients/{clientId}/secret":
    put:
      summary: OIDCクライアントのシークレットを更新
      description: OIDCクライアントのシークレットを更新します
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateClientSecretResponse"
        "400":
          description: Bad Request
      operationId: UpdateOIDCClientSecret
      parameters:
        - name: clientId
          in: path
          required: true
          schema:
            type: string
      tags:
        - client


components:
  schemas:
    Client:
      type: object
      required:
        - client_id
        - client_secret
      properties:
        client_id:
          type: string
        client_secret:
          type: string
    CreateClientRequest:
      type: object
      required:
        - client_type
        - client_name
        - description
        - redirect_uris
      properties:
        client_type:
          type: string
        client_name:
          type: string
        description:
          type: string
        redirect_uris:
          type: array
          items:
            type: string
    UpdateClientRequest:
      type: object
      required:
        - client_type
        - client_name
        - description
        - redirect_uris
      properties:
        client_type:
          type: string
        client_name:
          type: string
        description:
          type: string
        redirect_uris:
          type: array
          items:
            type: string
    UpdateClientSecretResponse:
      type: object
      required:
        - client_secret
      properties:
        client_secret:
          type: string