name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: reviewdog/action-golangci-lint@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          go_version_file: go.mod
          reporter: github-pr-review
          level: warning
          fail_level: error
          golangci_lint_flags: "--config=.golangci.yml"

  build:
    name: Build check
    runs-on: ubuntu-latest
    needs:
      - lint
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Build
        run: go build -v ./...

  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs:
      - lint
      - build
    services:
      mysql:
        image: mariadb:10.11
        env:
          MARIADB_ROOT_PASSWORD: password
        ports:
          - 3307:3306
        options: >-
          --health-cmd="healthcheck.sh --connect --innodb_initialized"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Test with coverage
        run: go test -v -coverprofile=coverage.out ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        continue-on-error: true
        with:
          files: coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
